.checkbox {
  padding: 10px 40px;
  display: flex;
  align-items: center;
}
.checkbox.alternative:hover {
  background-color: #d8e3ce;
}

.checkbox.presentation:hover {
  background-color: #f9e7b3;
}

.checkbox.userControl:hover {
  background-color: rgb(244, 205, 203);
}

.checkbox.understandable:hover {
  background-color: #ffe4d5;
}

.checkbox.predictability:hover {
  background-color: #e1ebec;
}

input {
  margin-right: 10px;
}

label {
  font-weight: 300;
}

label strong {
  font-weight: 700;
}
