* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 30px 10px 30px 10px;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  padding: 40px 100px;
  margin-top: 60px;
  justify-content: space-between;
}
.headlines {
  width: 470px;
}

.logo img {
  max-width: 250px;
  padding-left: 30px;
}
.image-container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 215px;
}

.image-container p {
  font-size: 12px;
  margin-top: 10px;
}

img {
  width: 600px;
}
.education-container {
  padding: 30px 100px 20px 100px;
  background-color: #eeeeee;
}

.question-container {
  padding: 15px 0;
  margin-bottom: 10px;
}

.translation {
  margin-top: 15px;
  padding: 30px 15px;
  background-color: white;
  border-radius: 20px;
}
.button-container {
  padding-right: 60px;
}
button {
  padding: 8px 10px;
  border-radius: 20px;
  border: 2px solid #2b2b2b;
  background-color: transparent;
}

button.contribute {
  background-color: #2b2b2b;
  color: white;
}

button i {
  padding: 0 10px 0 5px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-weight: 300;
  font-size: 30px;
}
h3 {
  padding-bottom: 3px;
}
h4 {
  font-weight: 300;
  margin-bottom: 10px;
}

p {
  font-weight: 300;
}

strong {
  font-weight: 500;
}

ol {
  font-weight: 300;
}

.answer ol {
  padding: 10px 0 0 40px;
}
.highlight-statement {
  background-color: #2b2b2b;
  color: white;
  padding: 30px 0px;
}

.resources {
  color: white;
  background-color: #165b60;
  padding: 20px 0px;
}

.additional-resources {
  width: 100%;
}

.additional-resources ul {
  list-style: none;
}

.additional-resources i {
  padding-right: 10px;
}

.additional-resources h3,
.additional-resources p {
  padding: 5px 100px;
}

.resource-links-container {
  padding: 10px 100px;
}

.resource-links-container li,
.resource-links-container a {
  color: white;
  font-weight: 300;
  padding: 5px 0;
}
