* {
  padding: 0px;
  margin: 0px;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 30px 10px 30px 10px;
}

.header-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 40px 100px;
  margin-top: 60px;
  justify-content: space-between;
}
.headlines h1 {
  min-width: 30vw;
  max-width: 470px;
}

.headlines p {
  padding: 20px 100px 0 0;
}

.logo img {
  min-width: 150px;
  max-width: 30vw;
  padding-left: 30px;
}
.image-container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.image-container p {
  font-size: 12px;
}

.image-container img {
  min-width: 40vw;
  max-width: 600px;
}
.education-container {
  padding: 30px 100px 20px 100px;
  background-color: #eeeeee;
}

.question-container {
  padding: 15px 0;
  margin-bottom: 10px;
}

.translation {
  margin-top: 15px;
  padding: 30px 15px;
  background-color: white;
  border-radius: 20px;
}
.button-container {
  padding-right: 60px;
}
button {
  padding: 8px 10px;
  border-radius: 20px;
  border: 2px solid #2b2b2b;
  background-color: transparent;
}

button.contribute {
  background-color: #2b2b2b;
  color: white;
}

button i {
  padding: 0 10px 0 5px;
}

h1 {
  font-size: 36px;
}
h2 {
  font-weight: 300;
  font-size: 30px;
  padding-bottom: 10px;
}
h3 {
  padding-bottom: 3px;
}
h4 {
  font-weight: 300;
  margin-bottom: 10px;
}

p {
  font-weight: 300;
}

strong {
  font-weight: 500;
}

ol {
  font-weight: 300;
}

.answer ol {
  padding: 10px 0 0 40px;
}
/* input[type="checkbox" i]:checked {
  background-color: #2b2b2b;
} */

.highlight-statement {
  background-color: #145a60;
  color: white;
  padding: 30px 0px;
}

.resources {
  background-color: #2b2b2b;
  color: white;
  padding: 20px 0px;
}

.resources li {
  display: flex;
  align-items: center;
}

.additional-resources {
  width: 100%;
}

.additional-resources ul {
  list-style: none;
}

.additional-resources i {
  padding-right: 10px;
}

.additional-resources h3,
.additional-resources p {
  padding: 5px 100px;
}

.resource-links-container {
  padding: 10px 100px;
}

.resource-links-container i {
  padding-left: 20px;
}

.resource-links-container li,
.resource-links-container a {
  color: white;
  text-decoration: none;
  font-weight: 300;
  padding: 5px 0;
}
.resource-links-container li:hover,
.resource-links-container a:hover {
  background-color: #464646;
  text-decoration: underline;
  border-radius: 20px;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 940px) {
  header {
    margin-bottom: 0px;
  }
  .header-content {
    flex-direction: column-reverse;
    margin-top: 10px;
    padding: 20px 80px;
  }

  .header-content img {
    min-width: 50vw;
    max-width: 800px;
  }

  .headlines {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .headlines h1 {
    text-align: center;
  }

  .headlines p {
    padding-right: 0;
  }

  .education-container {
    padding: 30px 80px 20px 80px;
  }

  .additional-resources h3,
  .additional-resources p {
    padding: 5px 80px;
  }

  .resource-links-container {
    padding: 10px 80px;
  }
}

@media only screen and (max-width: 840px) {
  .logo img {
    padding-left: 15px;
  }

  .button-container {
    padding-right: 15px;
  }

  .button-hide {
    display: none;
  }
  .header-content {
    padding: 20px 60px;
  }
  .education-container {
    padding: 30px 60px 20px 60px;
  }

  .additional-resources h3,
  .additional-resources p {
    padding: 5px 60px;
  }
  .resource-links-container {
    padding: 10px 60px;
  }
}

@media only screen and (max-width: 500px) {
  .headlines {
    align-items: flex-start;
  }
  .headlines h1 {
    font-size: 28px;
    text-align: left;
  }
  .headlines h2 {
    font-weight: 300;
    font-size: 20px;
    text-align: left;
  }
  .button-hide-more {
    display: none;
  }
  button {
    border-radius: 100px;
    padding: 8px 11px;
  }
  button i {
    padding: 0px;
  }
  button.contribute {
    padding: 8px 10px;
  }
  .header-content {
    padding: 20px 40px;
  }

  .education-container {
    padding: 30px 40px 20px 40px;
  }
  .additional-resources h3,
  .additional-resources p {
    padding: 5px 40px;
  }
  .resource-links-container {
    padding: 0px 40px;
  }
  .resource-links-container i {
    padding-left: 0;
  }
}

@media only screen and (max-width: 400px) {
  .button-hide-more {
    display: none;
  }
  button {
    border-radius: 100px;
    padding: 8px 11px;
  }
  button i {
    padding: 0px;
  }
  button.contribute {
    padding: 8px 10px;
  }
  .header-content {
    padding: 20px;
  }
  .education-container {
    padding: 30px 20px 20px 20px;
  }
  .additional-resources h3,
  .additional-resources p {
    padding: 5px 20px;
  }
  .resource-links-container {
    padding: 10px 20px;
  }
}
